import React from "react";
import { views } from "@ax-bi/core";

views.registerView(
  { id: "{{ id }}.example", name: "{{ display_name }}" },
  "sqllab.panels",
  () => <p>{{ display_name }}</p>,
);
